{% extends 'layout.html' %}
{% load static %}
{% block body %}

    <br><br>
    <div class="container row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <h2>Add Students</h2>
            <form action="/insert" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                  <label for="" class="form-label">Name</label>
                  <input type="text" class="form-control" id="" name="name" required>
                </div>

                <div class="mb-3">
                  <label for="" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="" aria-describedby="emailHelp" name="email" required>
                </div>

                <div class="mb-3">
                  <label for="" class="form-label">Phone Number</label>
                  <input type="number" class="form-control" id="" name="number" required>
                </div>

                <div class="mb-3">
                  <label for="" class="form-label">Image</label>
                  <input type="file" class="form-control" id="" accept=".jpg, .jpeg, .png" name="image">
                </div>
                
                <div class="mb-3">
                    <input type="submit" class="form-control btn btn-danger" required>
                </div>

            </form>
        </div>
    </div>
{% endblock %}